@import '../../styles/variables.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  width: 450px;
  padding: 20px 40px;
  margin: 30px auto;
  backdrop-filter: $filter;
  background-color: $color-background-box;
  border: 2px solid $color-grey;
  border-radius: 10px;
  color: $color-white;
  font-size: 18px;

  .standardBtn {
    width: 150px;
    height: 40px;
    margin: 10px auto;
    padding: 0 25px;
    backdrop-filter: $filter;
    background-color: $color-background-box;
    border: 1px solid $color-blue;
    border-radius: 20px;
    color: $color-white;
    font-family: sans-serif;
    font-size: $font-regular;
    font-weight: 400;
    cursor: pointer;
    transition: 0.3s;
  
    &:hover {
      cursor: pointer;
      color: $color-yellow;
    }
    
    &:active {
      transform: scale(0.95);
    }
  }

  .inputText {
    width: 400px;
    height: 40px;
    margin: 10px 0;
    padding: 0 25px;
    backdrop-filter: $filter;
    background-color: $color-background-box;
    border: 1px solid $color-blue;
    border-radius: 20px;
    color: $color-white;
    font-family: 'Montserrat-regular', sans-serif;
    font-size: $font-regular;
    font-weight: 400;
    transition: 0.3s;
  
    &:focus {
      outline: none;
    }
  }
  
  .inputData {
    width: 400px;
    height: 40px;
    margin: 10px 0;
    padding: 0 25px;
    backdrop-filter: $filter;
    background-color: $color-background-box;
    border: 1px solid $color-blue;
    border-radius: 20px;
    color: $color-white;
    font-family: 'Montserrat-regular', sans-serif;
    font-size: $font-regular;
    font-weight: 400;
    transition: 0.3s;
  
    &:focus {
      outline: none;
    }
  }
}