.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  padding: 30px;

  .wrapInput {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .wrapCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}