:root {
  --color-white: #fff;
  --color-grey: #626f71;
  --color-dark: #121c1e;
  --font-regular: 16px;
  --font-regular18: 18px;
  --color-blue: #278d9f;
  --color-background-box: rgba(19,20,21,.3);
  --filter: blur(3px);
}