$color-white: #fff;
$color-yellow: #e7da6c;
$color-grey: #626f71;
$color-dark: #121c1e;
$color-green: #4eb74e;
$font-regular: 16px;
$font-regular18: 18px;
$color-blue: #278d9f;
$color-background-box: rgba(19, 20, 21, 0.3);
$filter: blur(3px);