@import '../../../styles/variables.scss';

.btn {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.standardBtn {
  width: 150px;
  height: 40px;
  margin: 10px auto;
  padding: 0 25px;
  backdrop-filter: var(--filter);
  background-color: var(--color-background-box);
  border: 1px solid var(--color-blue);
  border-radius: 20px;
  color: var(--color-white);
  font-family: sans-serif;
  font-size: var(--font-regular);
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s;
}

.standardBtn:hover {
  cursor: pointer;
  color: #e7da6c;
}

.clearBtn {
  position: absolute;
  right: 2%;
  top: 12.5%;
  width: 30px;
  height: 30px;
  border: none;
  background-color: inherit;
  background-image: url(../../../../public/assets/svg/close.svg);
  background-repeat: no-repeat;
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(316deg) brightness(120%) contrast(101%);
  transition: 0.3s;
  cursor: pointer;
}

.clearBtn:hover {
  transition: 0.5s;
  transform: rotate(360deg);
  transition: 0.5s;
}

.clearBtn:active {
  transform: scale(0.9);
}