@import '../../styles/variables.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
  opacity: 0;
  transition: 0.5s;
}

.overlayActive {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: all;
  opacity: 1;
  transition: 0.5s;

  .modal {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 480px;
    padding: 20px 40px 0 40px;
    backdrop-filter: $filter;
    background-color: $color-background-box;
    border: 2px solid $color-grey;
    border-radius: 10px;
    color: $color-white;
  }

  .wrapSize {
    display: flex;
    column-gap: 50px;
  }

  .text {
    color: $color-white;
    font-size: 20px;
    font-weight: 500;

    .textTitle {
      color: $color-yellow;
      font-size: $font-regular18;
      font-weight: 400;
    }
  }

  .buttonWrap {
    display: flex;
    justify-content: center;
    column-gap: 20px;
  }

  .closeBtn {
    position: absolute;
    top: -30px;
    right: -30px;
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    background-image: url(../../../public/assets/svg/close.svg);
    background-repeat: no-repeat;
    filter: invert(85%) sepia(0%) saturate(1%) hue-rotate(316deg) brightness(120%) contrast(101%);
    transition: 0.3s;
    cursor: pointer;
  
    &:hover {
      transition: 0.5s;
      transform: rotate(360deg);
      transition: 0.5s;
    }
    
    &:active {
      transform: scale(0.9);
    }
  }
}
