@import '../../styles/variables.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
  opacity: 0;
  transition: 0.5s;
}

.overlayActive {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: all;
  opacity: 1;
  transition: 0.5s;

  .modal {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 480px;
    padding: 20px 40px;
    backdrop-filter: $filter;
    background-color: $color-background-box;
    border: 2px solid $color-grey;
    border-radius: 10px;
    color: $color-white;
  }

  .wrapSize {
    display: flex;
    column-gap: 50px;
  }

  .text {
    color: $color-white;
    font-size: 20px;
    font-weight: 500;

    .textTitle {
      color: $color-yellow;
      font-size: $font-regular18;
      font-weight: 400;
    }
  }

  .buttonWrap {
    display: flex;
    justify-content: center;
    column-gap: 20px;
  }
}
