@import '../../styles/variables.scss';

.wrapSize {
  display: flex;
  column-gap: 50px;
}

.text {
  color: $color-white;
  font-size: 20px;
  font-weight: 500;

  .textTitle {
    color: $color-yellow;
    font-size: $font-regular18;
    font-weight: 400;
  }
}

.buttonWrap {
  display: flex;
  justify-content: center;
  column-gap: 20px;
}